.content {
    --background: linear-gradient(#E5E5E5, #E5E5E5);
    height: 100vh;
}
.dashboard-intro {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 23px;
    line-height: 33px;
    padding-top: 0px;
    padding-left: 10px;
    padding-bottom: 18px;
    color: #1E3C1E;
}
.search-dashboard {
    border-radius: 30px;
    padding-bottom: 10px;
    padding-top: 0px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #AEBAB8;
}
.cat {
    display: flex;
    padding-bottom: 0px;
    padding-left: 10px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #1E3C1E;
    margin-top: 0px;
}

.categories {
    padding-bottom:0px;

}

#btn1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #999E9D;
    border-radius: 15px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

#btn2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #999E9D;
    border-radius: 15px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

#btn3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #999E9D;
    border-radius: 15px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

#btn4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #999E9D;
    border-radius: 15px;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}

.furniture1{
  
  height: 125px;
}  
 .furniture2{

   
    height: 125px;
    
}

.furniture3{
    height:125px;
}
.furniture4{
    height: 125px;
}


.card-img1{
    padding-top: 0px;
    padding-bottom: 0px;
}

.cards2{
    padding-top:0px;
    padding-bottom:0px;

}
.cards1{
    padding-top: -10px;
    padding-bottom: -10px;
}
.cardimag1-name {

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    padding-top: 0px;
    padding-left:15px;
}

.cardimag2-name {

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    padding-top: 0px;
    padding-left:15px;
}

.cardimag3-name {

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    padding-top: 0px;
    padding-left:15px;
}

.cardimag4-name {

    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    color: #000000;
    padding-top: 0px;
    padding-left:15px;
}


