.content{
    --background: linear-gradient(#E5E5E5, #E5E5E5);
}


.dashboard-intro{
position: absolute;
width: 229px;
height: 66px;
left: 29px;
top: 67px;
font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;

color: #1E3C1E;
}
.back{
    position: absolute;
     left:10px;
    /* right: 87.39%;
    top:60px;  */
     /* bottom: 93.91%;  */
}
.search-dashboard{
  top:180px;
  border-radius: 30px;
   position: absolute;
width: 260px;
 height: 30px; 
left: 22px;


font-family: 'Noto Serif';
font-style: normal;
font-weight: 400;
font-size: 20px;


color: #AEBAB8;    
}
.cat{
    position: absolute;
width: 125px;
height: 33px;
left: 29px;
top: 230px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #1E3C1E;

}
#btn1{

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
/* padding: 10px; */
gap: 10px;

position: absolute;
width: 94px;
height: 46px;
left: 27px;
top: 290px;

background: #999E9D;
border-radius: 15px;


width: 65px;
height: 27px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 27px;

color: #FFFFFF;
}
#btn2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    
    position: absolute;
    width: 94px;
    height: 46px;
    left: 112px;
    top: 290px;
    
    background: #999E9D;
    border-radius: 15px;

    width: 64px;
height: 27px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 27px;

color: #FFFFFF;
}
#btn3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    /* gap: 10px; */
    
    position: absolute;
    width: 128px;
    height: 47px;
    left: 197px;
    top: 290px;
    
    background: #999E9D;
    border-radius: 15px;

    width: 100px;
height: 27px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 27px;

color: #FFFFFF;
}

#btn4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    position: absolute;
    width: 94px;
    height: 46px;
    left: 27px;
    top: 335px;
    
    background: #999E9D;
    border-radius: 15px;

    width: 43px;
height: 27px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 27px;

color: #FFFFFF;
}
.furniture1{
  
    position: relative;
    width: 45vw;
    height: 145px;
    left: 2px;
    /* top: 497px; */
    border-radius: 3px;
    
    
}
.furniture2{
    position: relative;
    width: 45vw;
    height: 145px;
    left: -2px;
    /* top: 497px; */
    border-radius: 3px;
}
.cards{
    display: flex;
    position: relative;
    bottom: 10vh;
    top:322px;
}
.cardimag1-name{
    position: absolute;
width: 166px;
height: -20px;
left: 12px;
top: 545px;

font-family: 'Noto Serif';
font-style: normal;
font-weight: 600;
font-size: 16px;
/* line-height: 22px; */

color: #000000;
}
.cardimag2-name{
    position: absolute;
    width: 166px;
    height: -20px;
    left: 180px;
    top: 545px;
    
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
}


.bottom-tool{
    top:401px;
    
}