.signin-main {
    position: absolute;
    --background: linear-gradient(#E5E5E5, #E5E5E5);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.signin-image {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.signin-grid{
    height: 100vh;
}

.signin-head {

    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E3C1E;
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.signin-email{
    display: flex;
    justify-content: center;
    align-items: center;
background:#F8F8F8;
border-radius: 10px;
font-family: 'Noto Serif';
margin-bottom: 10px;
margin-left: 40px;
margin-right: 40px;
}
.signin-input-email{
    font-family: 'Noto Serif';
}
.signin-input-password{
    font-family: 'Noto Serif';
}

.signin-password{
    display: flex;
    justify-content: center;
    align-items: center;
background:#F8F8F8;
border-radius: 10px;
font-family: 'Noto Serif';
margin-bottom: 20px;
margin-left: 40px;
margin-right: 40px;

}
.login-btn{
    font-family: 'Noto Serif';
font-weight: 200px; 
}
.login-btn-main{
   
display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
 
}

.text-signin{
display: flex;
justify-content: center;
align-items: center;
font-family: 'Noto Serief';
}
.signup-link{ 
    font-family: 'Noto Serief';
   color: rgb(49, 20, 20);
   /* padding: 9px 1px 3px 1px; */
   font-size: 12px;
   font-family: 'Noto Serief';
   border-radius: 10px;
   text-decoration:underline;
}
.or{
font-family: 'Noto Serief';
font-size: 13px;
color: #1E3C1E;
}
.icons{
    margin-top: 273px;
    margin-right: 30px;
    margin-left: 107px;
}
